html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  
  display: block;
  overflow: hidden;

  background-color: black;
  color: white;

  font-family: 'Courier New', Courier, monospace;
}

#lines {
  width: 100%;
  height: 100%;
  white-space: pre;
  padding: 0;
  margin: 0;
  display: block;
  color: white;
  overflow-y: auto;

  text-shadow:
    0 0 3px rgba(160, 160, 255, 0.7),
    0 0 6px rgba(160, 160, 255, 0.5);

}

#measure {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  line-height: normal;
  left: 0;
  top: 0;
}

@keyframes blink {
  50% {
    background-color: transparent;
    color: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
  }
}

.cursor {
  background-color: aliceblue;
  color: black;
  box-shadow: none;
  text-shadow: none;
  animation: blink 1s step-start infinite;
}